.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%
}

.intro {
  background-image: url('../img/black_paper.png')
}

.info {
  padding-top: 75px;
}

.info p {
    font-size: 24px;
    padding-top: 50px;
    line-height: 60px
  }

  .synopsis {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px
  }

  .investment-heading {
    background-color: lightblue
  }

  .investment-heading h3, h4{
    text-align: center;
  }

  .invest {
    padding-top: 100px;
    line-height: 35px
    }

    .invest-button-area {
      margin-top: 25px;
      text-align: left;
      margin-bottom: 25px
    }

    button {
  position: relative;
  width: 150px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  background-color:lightyellow;
  color: black;
  padding: 0 10px;
  font-family: 'Oswald', sans-serif;
  outline: 0;
}
button:hover {
  cursor: pointer;
  -webkit-animation: moveButton 0.4s ease forwards;
          animation: moveButton 0.4s ease forwards;
}

.portfolio {
  margin-top:100px
}

.survivor {
  display: flex;
  justify-content: center;
  margin-bottom: 50px
}

.demo {
  background-color: black;
}
