.navbar-nav {
  justify-content: center;
  width: 100%;
  color: black;
}

.navbar-nav a {
  color: black
}

.intro {
  background-image: url('../img/black_paper.png');
  padding: 30px 30px;
}

.info p {
    font-size: 20px;
    line-height: 1.625;
    padding: 100px 0;
  }

  .info h2 {
    color: white;
    text-decoration: underline;
    padding-top: 25px;
  }

  .heading {
    background-color: gold;
    margin: 40px 0;
    padding-left: 75px;
  }

  .heading-without-padding {
    background-color: gold;
    margin: 40px 0;
  }

  .synopsis p {
    font-size: 19px;
  }

  .investment-section{
    background-image: url('../img/qbkls.png');
  }

  .invest {
    padding-top: 50px;
    font-size: 24px;
    }

    .invest li + li {
      margin-top: 10px;
    }

    .invest p{
      margin-top: 50px;
      font-size: 20px;
      color: black;
      text-align: center;
    }

  .btn-primary {
    background-color: #891F0F;
    color: white;
    transition: all .3s ease-in-out;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
  }

  .btn-primary:hover {
    background-color: #A33929;
  }

  .haban {
    background-color: black;
  }

.demo {
  background-color: black;
}

/*.filmography {
  background-image: url("../img/zwartevilt.png");
}*/

.filmography h4 {
  padding: 15px 0;
}

/*---------------------Responsive----------------*/

@media screen and (max-width: 1000px) {
  .info p {
    font-size: 16px;
    padding-top: 50px;
  }
  .info h2 {
    padding-top: 50px;
  }
}

/*@media screen and (max-width: 1000px) {
  .info h1 {
    font-size: 24px;
  }
}*/
